Available headers are not returned for a Http OPTIONS request

As per the HTTP specifications, when a HTTP OPTIONS request is recieved by the server it should behave as follows

1. If the request contains a request path, the matching resource's allowed methods should be returned
2. If the request contains * then the allowed method for the entire service should return.

Currently Ballerina service does not behave as above.

OPTIONS support is introduced in https://github.com/ballerinalang/ballerina/pull/3157. According to the HTTP spec[1], the "*" request is applying to the server and only used as a "ping" or "no-op" type of method. Since ballerina doesn't involve with server concept, IMO it is out of scope.

> An OPTIONS request with an asterisk (\*) as the request-target
   (Section 5.3 of [RFC7230]) applies to the server in general rather
   than to a specific resource.  Since a server's communication options
   typically depend on the resource, the "*" request is only useful as a
   "ping" or "no-op" type of method; it does nothing beyond allowing the
   client to test the capabilities of the server.  For example, this can
   be used to test a proxy for HTTP/1.1 conformance (or lack thereof).

[1] https://tools.ietf.org/html/rfc7231#section-4.3.7

As per the above comment I am closing this issue.